<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>SearchFilter</display-name>
    <listener>
        <listener-class>configuration.PropertiesServletContextListener
        </listener-class>
    </listener>
    <servlet>
        <servlet-name>DocumentServlet</servlet-name>
        <servlet-class>servlets.DocumentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TextServlet</servlet-name>
        <servlet-class>servlets.FullTextServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DocumentLikenessServlet</servlet-name>
        <servlet-class>servlets.DocumentMoreLikeThisServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TextLikenessServlet</servlet-name>
        <servlet-class>servlets.FullTextMoreLikeThisServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportServlet</servlet-name>
        <servlet-class>servlets.ExportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DocumentServlet</servlet-name>
        <url-pattern>/query</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TextServlet</servlet-name>
        <url-pattern>/text</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocumentLikenessServlet</servlet-name>
        <url-pattern>/like</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TextLikenessServlet</servlet-name>
        <url-pattern>/textLike</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportServlet</servlet-name>
        <url-pattern>/export</url-pattern>
    </servlet-mapping>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>web</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>appuser</role-name>
        </auth-constraint>
    </security-constraint>
    <security-role>
        <role-name>appuser</role-name>
    </security-role>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>Secured App</realm-name>
    </login-config>
</web-app>
